body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

#branding a {
  font-size: 18px;
  font-weight: bold;
  color: rgb(75, 75, 216);
}

.line {
  width: 18px;
  height: 2px;
  background-color: rgb(75, 75, 216);
  margin: 5px 0;
  border-radius: 2px;
}

.container {
  margin: auto;
  padding-top: 40px;
  width: 92%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.showcase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 92%;
  padding-top: 100px;
  border-bottom-left-radius: 100px;
  margin: auto auto 10vh auto;
  background-image: url(./images/header-shapes-mobile.svg);
  background-repeat: no-repeat;
  background-color: white;
}

.showcase h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
}

.showcase p {
  margin-top: 0.25vh;
}

h4 {
  color: rgb(75, 75, 216);
  margin-bottom: 10px;
  font-weight: bold;
}

.social-icon li {
  display: inline;
  padding-right: 15px;
}

.project-1 {
  width: 92%;
  margin: 15vh auto 15vh auto;
  display: grid;
  grid-template-rows: max-content;
  row-gap: 10px;
}

.main-skill ul {
  display: flex;
  flex-direction: row;
  margin: 8px auto;
}

.main-skill ul li {
  padding-right: 10px;
}

button {
  width: 45%;
  height: 45px;
  background-color: white;
  color: royalblue;
  border: 1px solid royalblue;
  border-radius: 5px;
  font-size: 90%;
}

button:hover {
  background-color: aqua;
}

.showcase-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 92%;
  margin: auto auto 10vh auto;
}

.showcase-2 h2 {
  font-size: 50px;
  line-height: normal;
  display: flex;
  flex-wrap: nowrap;
}

.main-image img {
  width: 100%;
}

.main-image {
  margin-bottom: 20px;
}

.button-2 {
  margin-top: 25px;
}

.contact-main {
  background-image: url(./images/Contact-background.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 103px;
  width: 375px;
  height: 779px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 103px 24px 115px 24px;
  
}

.text-contact #contact-img {
  margin-left: 35px;
  padding-bottom: 20px;
}

.form {
  margin-top: 30px;
}

.form ul{
  display: grid;
  grid-template-rows: auto;
  row-gap: 15px;
}