body {
  font: 16px/1.5 Arial, Helvetica, sans-serif;
}

* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  min-height: 50px;
}

#branding {
  font-size: 15px;
  color: rgb(75, 75, 216);
}

.container {
  margin: auto;
  padding-top: 15px;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
  padding-right: 20px;
}

a {
  color: #000;
}

.showcase {
  border-bottom-left-radius: 100px;
  margin-bottom: 10vh;
}

.hero {
  width: 60%;
  margin: auto;
}

.hero h1 {
  font-size: 50px;
  font-weight: bold;
  line-height: normal;
}

.hero p {
  margin-top: 0.25vh;
}

.connect {
  color: rgb(75, 75, 216);
  margin-bottom: 10px;
  font-weight: bold;
}

.showcase-2 {
  height: 99%;
}

.image-1 {
  width: 85%;
  display: flex;
  margin: 5vmax auto 0 auto;
  justify-content: space-between;
}

.image-2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 18vh;
}

.social-icon img {
  padding-right: 11px;
}

@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav li {
    float: none;
    width: 100%;
  }

  header {
    min-height: 110px;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }

  header nav {
    padding-top: 20px;
  }

  .image-1 img {
    width: 10vh;
  }

  body {
    text-align: center;
  }

  .image-2 {
    width: 80%;
    margin: 30px auto auto auto;
  }

  .hero {
    margin-top: 50px;
  }
}
